<header class="header">
        <div class="logoAndUser">
    
            <p class="logo">Ecommerce backend</p>
            <h1 class="h1Products">
                {{!--  {{user.role}}  --}}
                <br>
                {{user.first_name}} {{user.last_name}}
                <br>
                {{user.email}}
            </h1>
        </div>
        <div class="buttons">
            <a href='/profile'><button class="button">Profile</button></A>
            <a href='/cart/{{user.cart}}'><button class="button">Cart</button></A>
            <a href="/api/session/logout"><button id="logout_button">Logout</button></a>
        </div>
</header>


{{#if docs}}
    <ul id="productsUl"
        class="ul__productsList">
        {{#each docs}}
            <li style="margin: 20px;">
                <h2><strong>{{this.title}}</strong> </h2>
                <p><strong>{{this.description}}</strong> </p>
                <p><strong>Price:</strong> $ {{this.price}}</p>
                <img class="productImg" src="{{this.thumbnail}}" alt="{{this.title}}"></img>
                <p><strong>Stock:</strong> {{this.stock}}</p>
                <a class='addButton'
                    data-cid='{{user.cart}}'
                    data-pid='{{this.id}}'>
                    <button>Add to cart</button>
                </a>
            </li>

        {{/each}}

    </ul>
{{else}}
    <p class="ul__productsList">Products not found.</p>
{{/if}}
<div class="div_pages">
    {{#if hasPrevPage}}
        <a href='/products?page={{prevPage}}'><button>Anterior</button></A>
    {{/if}}
    <p>actual page : {{page}}</p>
    <p>total paging Counter : {{pagingCounter}}</p>
    <p>total pages : {{totalPages}}</p>
    {{#if hasNextPage}}
        <a href="/products?page={{nextPage}}"><button>Siguiente</button></A>
    {{/if}}
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
<script src="/js/products.js"></script>